@import "../pre.scss";
.editContainer {
  width: 80%;
  margin: rem(4) auto 0 auto;
  right: 0;
  .go{}
  .edit {
    background-color: #fff;
    overflow-y:visible; 
    .w-e-text{
    overflow-y:visible; 
    }
  }
  .bar{
    background-color: #fff;
    overflow-x: scroll;
  }
  .handle {}
  .title,
  .describe {
    position: relative;
    width: 100%;
    display: block;
    padding: rem(1.2) rem(1.2);
        border-bottom: solid 1px #ccc;
  }
  label{
    position: relative;
    &::before{
    position: absolute;
    content: '';
    transform: translate3d(0,50%,0);
    height: 22px;
    width: 2px;
    background-color: #df7015;
    z-index: 999;
    }
  }
  .handle{background-color: #fff;
    border-top: dashed 1px #b7b7b7;
    .go{
 border: none;
 cursor: pointer;
    padding: 9px 31px;
    margin: 6px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #1f60a1;
    }
  }
  .title {

  }
  .describe {
  }
}
