@import "../pre.scss";
.blogListContainer {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  border: solid 6px #34495e;
  background-color: #34495e;
  box-shadow: inset 0px 0px 4px 1px #162029;
  width: 80%;
  padding: 12px 0;
  border-radius: 3px;
  .outer {
    position: relative;
  }
  .blogCardContainer {
    transition: all ease .3s;
    position: relative;
    background-color: #faf2dc;
    float: left;
    margin: 1% 1%;
    max-width: 48%;
    @include media('lg') {
      margin: 1% 1%;
      max-width: 48%;
    }
    @include media('md') {
      margin: 1% 1%;
      max-width: 98%;
    }
    .contentContainer {
      padding: rem(1.2);
      overflow: hidden;
      border-radius: 3px;
      background-color: #f7f9e7; // white-space: nowrap;
    }
    .type {
      padding: 0.1875rem;
      font-size: rem(1.2);
      margin: 16px 0 0 18px;
      display: inline-block;
      border-radius: 6px;
      background-color: #03A9F4;
      box-shadow: 0px 0px 1px 1px #03a9f4;
      color: #fff4f4;
    }
    .title {
      display: block;
      font-size: rem(2);
      font-weight: bold;
      padding: rem(1) 0 0 0;
      overflow: hidden;
      margin: 9px 0px 8px 14px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .describe {
      color: #8d8c87;
      padding: 0.625rem 0;
    }
    .img {
      transition: all ease .3s;
          padding: 2px 2px;
      @include media('lg') {
        max-width: 75%;
      }
      @include media('md') {
        max-width: 53%;
      }
      @include media('sm') {
        max-width: 67%;
      }
      @include media('xs') {
        max-width: 67%;
      }
      float: left;
      max-width: 50%;
    }
    .footerContainer {
      position: relative;
      padding: rem(1.2);
      background-color: #F7F9EF;
      border-radius: 3px;
      .author {
        font-size: rem(1.4);
        color: #607D8B;
      }
      .time {
        margin: 0 0 0 rem(2);
        font-size: rem(1.2);
        color: #b3b3b3;
      }
    }
  }
}
