@import "../pre.scss";
.blogListContainer {
  position: absolute;
  border: solid 6px #34495e;
  background-color: #34495e;
  box-shadow: inset 0px 0px 4px 1px #162029;
  height: 80%;
  width: 55%;
  top: rem(5);
  border-radius: 3px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  .outer {
    position: relative;
  }
  .blogCardContainer {
    margin: rem(1) rem(1) 0 rem(1);
    .contentContainer {
      padding: rem(1.2);
      border-radius: 3px;
      background-color: #f7f9e7; // white-space: nowrap;
    }
    .type {

      padding: 0.1875rem;
      font-size: rem(1.2);
      display: inline-block;
      border-radius: 6px;
      background-color: #03A9F4;
      box-shadow: 0px 0px 1px 1px #03a9f4;
      color: #fff4f4;
    }
    .content {
      position: relative;
    }
    .title {
      font-size: rem(2);
      font-weight: bold;
      padding: rem(1) 0 0 0;
      overflow: hidden;

      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .describe {
      color: #8d8c87;
      padding: rem(1) 0;
      margin: 0 0 rem(1);
      font-size: rem(1.2);
      letter-spacing: 1px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .img {
      float: right;
      width: 120px;
      height: 60px;
    }
    .footerContainer {
      position: relative;
      padding: rem(1.2);
      background-color: #F7F9EF;
      border-radius: 3px;
      .author {
        font-size: rem(1.4);
        color: #607D8B;
      }
      .time {
        margin: 0 0 0 rem(2);
        font-size: rem(1.2);
        color: #b3b3b3;
      }
      .enter {
        position: absolute;
        right: 3.125rem;
        padding: 0.3125rem 1.25rem;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        background-color: #34495e;
        color: #ff9900;
        font-size: 0.8125rem;
        border-radius: 5px;
      }
    }
  }
  .handle {
    left: 50%;
    transform: translate3d(-50%, 100%, 0);
    bottom: rem(-1);
    font-size: rem(1.4);
    position: absolute;


  }
  .prev,.next{
    border: solid rem(.4);
    border-color: #34495e;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: rem(.2);
    color: #fff;
    font-size: rem(1.2);
    background-color: #3f362e;
  }
}
// background-color: #2b3c4e;
//     border-top: solid 4px;
//     border-right: solid 4px;
//     border-left: solid 4px;
//     border-color: #788480;
//     border-top-left-radius: 9px;
//     border-top-right-radius: 7px;
//     box-shadow: inset 1px 1px 1px red;
//     font-size: 12px;
