@import '../pre.scss';

.normal {
  opacity: 1;
  transform: translate3d(-50%, 0, 0);
}

.toggle {
  opacity: 0;
  transform: translate3d(-50%, 110%, 0);
}

.footer {
  background-color: #2c3e50;
  width: 50%;
  padding: rem(1) rem(3);
  transition: all ease .3s;
 
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
  border-top: solid 4px #395068;
 
  position: relative;
  bottom: 0;
  left: 50%;
  font-size: rem(1);
  .about {
    background-color: #243343;
    @include bsha(inset 0px 0px 0px 2px #395068);
    padding: rem(.3) rem(.5);
    font-size: rem(1.2);
    color: #888;
    position: absolute;
    right: rem(3);
    top: rem(-1);
    border-radius: 20px;
  }
  .footerWord {
    text-align: center;
    color: #888
  }
  .linkWord {
    color: #888
  }
}
