@import "../pre.scss";
.headerContainer{
    height: $headerHeight;
    overflow: hidden;
    position: relative;
    padding: 26px 20px;
    background-color: #fff;
    @include bsha(rgba(0, 0, 0, 0.04) 0 2px 5px 0);
    .listh{
        list-style: none;    height: 100%;
        /* position: relative; */
        list-style: none;
    }
    .barCon{
        height: 100%;
    position: absolute;right: 20px;
    top: 0;
    }
    .itemh{    float: left;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        /* display: inline-block; */
        /* vertical-align: middle; */}
    .search{    color: #BCBCCB;
        font-size: 16px;}
    .barc{}
    .input{
        color: #4D4F5C;
        margin: 0px 0 0 10px;
        font-size: 14px;
        letter-spacing: 1px;
    }
    .bari{    font-size: 19px;
        margin: 0 0 0 30px;
        color: #bcbccb;}
    .user{    float: left;
        /* top: 50%; */
        transform: translateY(50%);
        /* position: absolute; */}
    .nameh{    margin: 0 0 0 21px;
        font-size: 14px;
        color: #4D4F5C;}
    .down{         margin: 0 13px 0 7px;
        color: #a4afb7;
        font-size: 16px;}
    .imgh{
        width: 38px;
        height: 38px;
        border-radius: 50%;
        margin: 0px 11px 0 0;
    }
}