@import "../pre.scss";
.homeNav {
  display: inline-block;
  float: left;
  position: absolute;
  transition: all .3s ease;

 .toggle{
    top:rem(1);
    font-size: rem(1.3);
    position: absolute;
    padding: rem(.6) rem(1.2);
    background-color: #40566d;
    cursor: pointer;
 }
  .options{
      margin:rem(2) 0 0 0;

    .option{
      display: block;
      color:#bdc3c7;
      font-size: rem(1.4);
      padding:rem(2) 0 0 rem(5);
      letter-spacing: 5px;
    }
  }
}
