@import "../pre.scss";
.routerContainer {
  padding:0 0 0 20px;
  transition:all .3s;
  color: #888;
  font-size: 12px;
  position: relative;
  z-index: 99;
  width: 100%;
      &::before{
      content:' ';
      position: absolute;
      height: 100%;
      width: 3px;
      background-color: #ff9900;
      left:0
    }
  .tag,.routerList{
    padding:0 0;
    font-size: rem(1.4);
  }
  .tag{
    color:#ccc;
      font-style: normal;
        padding: 12px 0;
  }
  .routerList {
    transition:all ease .2s;
    position: relative;
    display: inline-block;
        color: #c2c2c2;
        padding: 12px 11px;
    cursor: pointer;
    &:hover {
      color:#fff
    }
    &:after{
    content: '/';
    position: absolute;
    right: -5%;
    color: #fff;
    }
    &:last-child {
      &:after{
        content:''
      }
      content:'';
      color: #ff9b3b;
      &:hover {
      	cursor: auto;
      	background-color: transparent;
      }
    }
  }
}
