@import "../pre.scss";
.routerContainer {
  padding:0 0 0 20px;
  transition:all .3s;
  color: #888;
  font-size: 12px;
  position: relative;
  z-index: 99;
  width: 100%;
      &::before{
      content:' ';
      position: absolute;
      height: 100%;
      width: 3px;
      background-color: #ff9900;
      left:0
    }
  .routerList {
    display: inline-block;
    padding: 5px 5px;
    font-size: 12px;
    cursor: pointer;

    &>i {
      font-style: normal;
    }
    &:hover {
      background-color: #4d2e2e;
    }
    &:last-child {
      color: #ff9b3b;
      &:hover {
      	cursor: auto;
      	background-color: transparent;
      }
    }
  }
}
