
//定义断点
//414  768 992 1200
$breakpoints:(
	'xs': 'screen and (max-width:25.875rem)',  
	'sm': 'screen and (max-width:48rem)',
	'md': 'screen and (max-width:62rem)',
	'lg': 'screen and (max-width:75rem)',
	)!default;
//@include bsha(inset 0 0 8px 0 #000000);
//@include tsha(-1px 0 #fdd90b, 0 -1px #fdd90b, 1px 0 #0d0d0d, 0 1px #0d0d0d);
//text-shadow box-shadow;
@mixin bsha($arguments...){

	box-shadow:$arguments;
}
@mixin tsha($args...){
    text-shadow: $args;
}
/*
    @include media('lg') {}
    @include media('md') {}
    @include media('sm') {}
    @include media('xs') {}
 */
//media query
@mixin media($breakpoint){
	$screen: map-get($breakpoints,$breakpoint);
	@media #{unquote($screen)}{
		@content;
	}
}
//处理成返回$value倍
@function rem($value){
	//浏览器默认字体16px
	@return ($value*0.625)+rem;
}